.pour-fille a {
	color: #DB4C84;
}
.pour-garcon a {
	color: #2891BD;
}
.pour-fille-ou-garcon a {
	color: #3E3D3D;
}

.onglet-de-config .radio-fille,
.onglet-de-config .radio-garcon,
.onglet-de-config .radio-fille-ou-garcon {
	font-weight: normal;
	margin-right: 15px;
}
.onglet-de-config input[type='radio'] {
	margin-right: 3px;
}

.onglet-de-tri .btn-garde {
	color:green;
}
.onglet-de-tri .btn-poubelle {
	color:red;
}
.onglet-de-tri .btn-garde,
.onglet-de-tri .btn-poubelle {
	padding-bottom: 0;
	font-size: 30px;
}
.onglet-de-tri .proposition {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.onglet-de-tri .actions {
	margin-top: 15px;
}

.onglet-de-config h3,
.onglet-de-tri h3,
.onglet-des-prenoms-ok h3,
.onglet-des-prenoms-ko h3,
.onglet-des-prenoms-tools h3 {
	margin-top: 15px;
	margin-bottom: 20px;
}