<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="choisirUnPrenomApp" class="small-device" ng-controller="choisirUnPrenomCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="container">

        <div class="header">
          <ul class="nav nav-tabs" role="tablist">
            <li ng-class="ongletEnCours === 'TRI' ? 'active' : ''" ng-click="ongletEnCours = 'TRI'">
              <a><span class="glyphicon glyphicon-sort"></span></a>
            </li>
            <li ng-class="ongletEnCours === 'OK' ? 'active' : ''">
              <a href="#" ng-click="ongletEnCours = 'OK'"><span class="glyphicon glyphicon-thumbs-up"></span></a>
            </li>
            <li ng-class="ongletEnCours === 'KO' ? 'active' : ''">
              <a href="#" ng-click="ongletEnCours = 'KO'"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </li>
            <li ng-class="ongletEnCours === 'TOOLS' ? 'active' : ''" class="pull-right">
              <a href="#" ng-click="ongletEnCours = 'TOOLS'"><span class="glyphicon glyphicon-wrench"></span></a>
            </li>
          </ul>
        </div>

        <div class="onglet-de-tri" ng-show="ongletEnCours === 'TRI'">
          <div class="row parametres">
            <form role="form">
              <div class="form-group">
                <label for="nom" class="col-xs-2 control-label">Nom</label>
                <div class="col-xs-10">
                  <input id="nom" type="nom" class="form-control" placeholder="Quel sera le futur nom de famille de l'enfant ?" ng-model="nom">
                </div>
              </div>
              <div class="form-group">
                <label for="sexe" class="control-label col-xs-2">Sexe</label>
                <div class="btn-group btn-group-lg col-xs-10" data-toggle="buttons">
                  <label class="btn btn-default" ng-class="sexe === 'FILLE' ? 'active' : ''" ng-click="sexe = 'FILLE'">
                    <input type="radio" name="sexe">Fille
                  </label>
                  <label class="btn btn-default" ng-class="sexe === 'GARCON' ? 'active' : ''" ng-click="sexe = 'GARCON'">
                    <input type="radio" name="sexe">Garçon
                  </label>
                </div>
              </div>              
            </form>
          </div>
          <hr/>
          <div class="row proposition">
            <div class="col-xs-12" ng-show="prenomPropose">
              <a href="{{prenomPropose | urlVersInfoPrenom}}" target="_blank" ><span class="prenom" >{{prenomPropose}} {{nom}} </span></a>
            </div>
            <div class="col-xs-12" ng-show="! prenomPropose">
             <span>Plus de prénoms à proposer</span>
           </div>
         </div>
         <hr>
         <div class="row actions">
          <div class="col-xs-12">
            <div class="btn-group btn-group-lg btn-group-justified">
              <a class="btn btn-default" role="button" ng-click="onGarde()"><span class="glyphicon glyphicon-thumbs-up"></span></a>    
              <a class="btn btn-default" role="button" ng-click="poubelle()"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="onglet-des-prenoms-ok" ng-show="ongletEnCours === 'OK'">
        <h3>Les prénoms gardés</h3>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped">
              <tr ng-repeat="prenom in listeDesPrenomsGardes">
                <td>{{prenom}}</td>  
                <td><a class="glyphicon glyphicon-arrow-up" ng-click="monterLePrenomAGarder($index)" ng-hide="$first"></a></td>
                <td><a class="glyphicon glyphicon-arrow-down" ng-click="descendreLePrenomAGarder($index)" ng-hide="$last"></a></td>
                <td><a class="glyphicon glyphicon-thumbs-down"  ng-click="passerLePrenomDeGardeARejete(prenom)"></a></td>
                <td><a class="glyphicon glyphicon glyphicon-book" target="_blank" href="{{prenom | urlVersInfoPrenom}}"></a></td>
              </tr>
            </table>
          </div>
        </div>
        <form ng-submit="ajouterUnPrenomAGarder()">
          <div class="input-group">
            <input type="text" ng-model="prenomGardeAAjouter" typeahead="state for state in prenomAProposer | filter:$viewValue | limitTo:4" class="form-control" placeholder="Déjà un prénom en tête ?"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="ajouterUnPrenomAGarder()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
          </div>
        </form>
      </div>

      <div class="onglet-des-prenoms-ko" ng-show="ongletEnCours === 'KO'">
        <h3>Les prénoms rejetés</h3>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped">
              <tr ng-repeat="prenom in listeDesPrenomsRejetes">
                <td>{{prenom}}</td>  
                <td ng-click="passerLePrenomDeRejeteAGarde(prenom)"><a class="glyphicon glyphicon-thumbs-up"></a></td>
                <td><a class="glyphicon glyphicon glyphicon-book" target="_blank" href="{{prenom | urlVersInfoPrenom}}"></a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="onglet-des-prenoms-tools" ng-show="ongletEnCours === 'TOOLS'">
        <h3>Boite à outils</h3>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-lg btn-default btn-block" type="button" data-toggle="modal" data-target="#reinitialisationModal">
              <span class="glyphicon glyphicon-refresh"></span> Tout réinitialiser
            </a>
            <a class="btn btn-lg btn-default btn-block" type="button" ng-click="exporter()">
              <span class="glyphicon glyphicon-floppy-disk"></span> Exporter
            </a>
            <a class="btn btn-lg btn-default btn-block" type="button" ng-click="partager()">
              <span class="glyphicon glyphicon-share-alt"></span> Partager
            </a>
          </div>
        </div>
      </div>  

      <div class="modal fade" id="reinitialisationModal" tabindex="-1" role="dialog" aria-labelledby="Reinitialisation" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>
              <h4 class="modal-title" id="myModalLabel">Réinitialiser le tri ?</h4>
            </div>
            <div class="modal-body">
              Voulez-vous vraiment tout réinitialiser et recommencer à zéro ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="toutReinitialiser()">Oui, je veux tout réinitialiser</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55276208-1', 'auto');
    ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/prototypes.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>
  </html>
