<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="choisirUnPrenomApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="container" ng-controller="choisirUnPrenomCtrl">

        <div class="panel panel-default">
          <div class="panel-heading">Choix des prénoms en entrée</div>
          <div class="panel-body">
            <form role="form">

              <div class="form-group">
                <label for="nom" class="col-xs-2 control-label">Nom</label>
                <div class="col-xs-10">
                  <input id="nom" type="nom" class="form-control" placeholder="Quel sera le futur nom de famille de l'enfant ?" ng-model="nom">
                </div>
              </div>

              <div class="form-group">
                <label for="sexe" class="col-xs-2 control-label">Sexe</label>
                <div class="col-xs-10">
                  <label class="radio-inline">
                    <input id="sexe-fille" type="radio" name="sexe" value="FILLE" ng-model="sexe"> Fille
                  </label>
                  <label class="radio-inline">
                    <input id="sexe-garcon" type="radio" name="sexe" value="GARCON" ng-model="sexe"> Garçon
                  </label>
                  <label class="radio-inline">
                    <input id="sexe-peu-importe" type="radio" name="sexe" value="PEU_IMPORTE" ng-model="sexe"> Peu importe
                  </label>
                </div>
              </div>
              
            </form>
          </div>
        </div>

        <div class="panel panel-default oui-ou-non">
          <div class="panel-heading">Alors ? Oui ou Non ?</div>
          <div class="panel-body">

            <div ng-show="prenomPropose">
              <div class="row">
                <div class="col-xs-12">
                  <span class="prenom">{{prenomPropose}}</span>
                  <span class="nom">{{nom}}</span>
                  <a href="{{prenomProposeUrlInfo}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>
              <div class="btn-group btn-group-justified">
                <a class="btn btn-success" role="button" ng-click="onGarde()">On garde !</a>    
                <a class="btn btn-danger" role="button" ng-click="poubelle()">Poubelle</a>
              </div>
            </div>
            <div ng-hide="prenomPropose">
              Plus de prénoms à proposer
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Les prénoms gardés</div>
              <div class="panel-body">
                <span ng-if="listeDesPrenomsGardes.length > 20">... | </span>
                <span ng-repeat="prenom in listeDesPrenomsGardes | limitTo:-20"><a ng-click="rechargerPrenomGarde(prenom)">{{prenom}} | </a></span>

                <form ng-submit="ajouterUnPrenomAGarder()">
                  <div class="input-group">
                    <input type="text" ng-model="prenomGardeAAjouter" typeahead="state for state in prenomAProposer | filter:$viewValue | limitTo:4" class="form-control"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="ajouterUnPrenomAGarder()"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">Les prénoms rejetés</div>
              <div class="panel-body">
                <span ng-if="listeDesPrenomsRejetes.length > 20">... | </span>
                <span ng-repeat="prenom in listeDesPrenomsRejetes | limitTo:-20"><a ng-click="rechargerPrenomRejete(prenom)">{{prenom}} | </a></span>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reinitialisationModal">
          Réinitialiser
        </button>

        <div class="modal fade" id="reinitialisationModal" tabindex="-1" role="dialog" aria-labelledby="Reinitialisation" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>
                <h4 class="modal-title" id="myModalLabel">Réinitialiser le tri ?</h4>
              </div>
              <div class="modal-body">
                Voulez-vous vraiment tout réinitialiser et recommencer à zéro ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reinitialiserLeTri()">Oui, je veux tout réinitialiser</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55276208-1', 'auto');
      ga('send', 'pageview');
      </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/prototypes.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>
  </html>
